<div cdkDropListGroup>
  <div class="example-container">
    <h2>All items</h2>

    <div id="all-items" cdkDropList [cdkDropListData]="items" class="example-list" cdkDropListSortingDisabled
      [cdkDropListEnterPredicate]="noReturnPredicate">
      <div class="example-box" *ngFor="let item of items" cdkDrag>{{item.name}}</div>
    </div>
  </div>

  <div class="example-container" *ngFor="let group of groups">
    <h2>{{group.name}}</h2>

    <div cdkDropList [cdkDropListData]="group.items" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of group.items" cdkDrag>
        {{item.name}}
      </div>
    </div>
  </div>

  <div class="example-container">
    <div id="delete-list" cdkDropList [cdkDropListData]="deletedItems" class="example-list"
      (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="deletePredicate">
      DELETE ZONE
      <br>
      {{deletedItems|json}}
    </div>
  </div>
</div>

<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->